body {
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            	-webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            	-webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            	-webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            	-webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            	-webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            	-moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            	-moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            	-moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            	-moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            	-moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-size: 20px 20px;
	background-color: #131313;
	-pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
                 	 linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
                	 linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
                	 linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
                	 linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
                	 linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
               		 0 0 / 20px #131313;
}

#title-box h1 {
	text-align:center; 
	text-shadow: 0px 10px 10px #000000; 
	color: #E6E6E6;
    font-size:70px;
}

.poster {
    background-color: #ffffff;
    border:1px solid #cccccc;
    margin:auto;
    padding:0;
    width:100px; height:100px;
}

  

#stage {
        margin: 150px auto;
        width: 600px;
        height: 400px;
        
}

#rotate {
        margin: 0;
        width: 600px;
        height: 275px;

         -webkit-transform-style: preserve-3d;
         -ms-transform-style: preserve-3d;
         transform-style: preserve-3d;



}
.ring {
        float: left;
        margin: 0 auto;
        height: 100px;
        width: 100px;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
       }
.running {
        -webkit-animation-name: x-spin;
        -webkit-animation-timing-function: linear;
        -webkit-animation-play-state:running;
        -webkit-animation-iteration-count: 1;
        -ms-animation-name: x-spin;
        -ms-animation-timing-function: linear;
        -ms-animation-play-state:running;
        -ms-animation-iteration-count: 1;
        animation-name: x-spin;
        animation-timing-function: linear;
        animation-play-state:running;
        animation-iteration-count: 1;

      }
      
 .poster {
        position: absolute;
        left:50px;
      
        -webkit-border-radius: 10px; 
        -ms-border-radius: 10px; 
        border-radius: 10px; 
      }


  #ring-1 {
        
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 2s;
        -ms-animation-delay: 0s;
        -ms-animation-duration: 2s;
        animation-delay: 0s;
        animation-duration: 2s;
      }
       #ring-2 {
        -webkit-animation-delay: 0.2s;
        -webkit-animation-duration: 2.1s;
        -ms-animation-delay: 0.2s;
        -ms-animation-duration: 2.1s;
        animation-delay: 0.2s;
        animation-duration: 2.1s;   
      }
      #ring-3 {
        -webkit-animation-delay: 0.4s;
        -webkit-animation-duration: 1.5s;
        -ms-animation-delay: 0.4s;
        -ms-animation-duration: 1.5s;
        animation-delay: 0.4s;
        animation-duration: 1.5s;
      }
      #ring-4 {
        -webkit-animation-delay: 0.6s;
        -webkit-animation-duration: 2.5s;
        -ms-animation-delay: 0.6s;
        -ms-animation-duration: 2.5s;
        animation-delay: 0.6s;
        animation-duration: 2.5s;
      }
      #ring-5 {
        -webkit-animation-delay: 0.8s;
        -webkit-animation-duration: 2s;
        -ms-animation-delay: 0.8s;
        -ms-animation-duration: 2s;
        animation-delay: 0.8s;
        animation-duration: 2s;
      }

      .commands {
        color:#ffffff;
        border-radius: 70px 70px 70px 70px;
        margin: 0 auto;
        width: 350px;
        height: 65px;
      }
      #spinMe {
        width: 220px;
      }
      #btns {
        width:220px;
        margin:0 auto;
      }

       @-webkit-keyframes x-spin {
        0%    { -webkit-transform: rotateX(360deg); }
        20%   { -webkit-transform: rotateX(380deg); }
        40%   { -webkit-transform: rotateX(260deg); }
        50%   { -webkit-transform: rotateX(200deg); }
        60%   { -webkit-transform: rotateX(150deg); }
        70%   { -webkit-transform: rotateX(100deg); }
        80%   { -webkit-transform: rotateX(50deg); }
        100%  { -webkit-transform: rotateX(0deg); }
      }

      @-ms-keyframes x-spin {
        0%    { -ms-transform: rotateX(360deg); }
        20%   { -ms-transform: rotateX(380deg); }
        40%   { -ms-transform: rotateX(260deg); }
        50%   { -wms-transform: rotateX(200deg); }
        60%   { -ms-transform: rotateX(150deg); }
        70%   { -wms-transform: rotateX(100deg); }
        80%   { -ms-transform: rotateX(50deg); }
        100%  { -ms-transform: rotateX(0deg); }
      }

      @keyframes x-spin {
        0%    { transform: rotateX(360deg); }
        20%   { transform: rotateX(380deg); }
        40%   { transform: rotateX(260deg); }
        50%   { transform: rotateX(200deg); }
        60%   { transform: rotateX(150deg); }
        70%   { transform: rotateX(100deg); }
        80%   { transform: rotateX(50deg); }
        100%  { transform: rotateX(0deg); }
      }
   